<div class="container showcard">
  <h2><%= @flat.name %></h2>
  <p><%= @flat.address %></p>
  <p><%= @flat.price_per_night %></p>
  <p><%= @flat.number_of_guests %></p>
  <%= link_to "Back to home", root_path  %>
</div>
